.page-home {
    header {
        justify-content: space-between;
    }
}

.list-item {
    width: 98vw;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid gray;

    button {
        margin-left: 5px;
    }

    .editButton {
        color: blue;
    }

    .delButton {
        color: red;
    }

}